@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #ffffff;
    color: #111827;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    overflow-x: hidden;
  }

  /* Ensures all SVGs and Images fit properly and don't stretch */
  img, svg {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
}
